{
	"username": "MrFlapix57 Push Notifications",
	"avatar_url": "https://blog.eu.playstation.com/files/avatars/avatar_4364447.jpg",
	"content": "{{AuthorName}} uploaded {{Title}} at {{CreatedAt}} {{Url}} ",
	"embeds": [{
		"author": {
			"name": "{{AuthorName}}",
			"url": "https://www.youtube.com/channel/UCkDsSAlgZIyLgNf6liLSIlQ?view_as=subscriber",
			"icon_url": "http://i.imgur.com/leKCtxz.jpg"
		},
		"description": "[Click here to see this video]({{Url}})",
		"color": 15258703,
		"fields": [{
			"name": "Description",
			"value": "{{Description}}"
		}],
		"footer": {
			"text": "Created by noob",
			"icon_url": "http://i.imgur.com/t2JQM4F.png"
		}
	}]
}
